{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="contianer">
    <div class="row">
              <h1 class="text-center">{% trans "Password Reset" %}</h1>
        <div class="col-2"></div>
        <div class="col-8 m-3 p-3 rounded" style="background:#5EBAD1;">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <h5>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</h5>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-outline-dark my-3" value="{% trans 'Reset My Password' %}" />
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>

  
{% endblock %}
