{% extends 'blog/base.html' %}

{% block title%} All Posts {% endblock %}

{% block content %}

    <div class="container">
        {% for post in posts %}
            
                <section class="py-1 my-4 shadow rounded">
                        <div class="container px-5 my-5">
                            <div class="row gx-5 align-items-center">
                                <div class="col-lg-6 {% if forloop.counter|divisibleby:2 == 0 %} order-first order-lg-last {% endif %}">
                                    <a class="text-decoration-none" href="{% url 'blog:postDetail' post.id %}"> 
                                        <img class="img-fluid rounded mb-5 mb-lg-0" src="{{ post.thumbnail.url }}" alt="...">
                                    </a>
                               </div>
                                <div class="col-lg-6">
                                    <div class="h2 fw-bolder">{{ post.title }}</div>
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{post.category}}</div>
                                    <p class="lead fw-normal text-muted mb-0">{{ post.content|striptags|slice:150}}...</p>
                                
                                    <a class="text-decoration-none" href="{% url 'blog:postDetail' post.id %}">
                                        Read more
                                        <i class="bi bi-arrow-right">>>></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </section>

        {% endfor %}
    </div>
{% endblock %}